body {
    font-family: "Microsoft JhengHei", Arial, sans-serif;
    background-color: #ffffff;
    color: #333333;
    font-size: 1.25rem;
}

.container {
    max-width: 800px;
}

.btn-huge {
    padding: 30px;
    font-size: 2rem !important;
    font-weight: bold;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 20px;
}

h1, h2 {
    color: #004085;
    margin-bottom: 30px;
}

.nav-link {
    font-size: 1.4rem;
    margin-left: 15px;
}